@font-face{
	font-family: amatic;
	src: url(AmaticSC-Bold.ttf);
}
@font-face{
	font-family: abel;
	src: url(Abel-Regular.ttf);
}
@font-face{
	font-family: lobster;
	src: url(Lobster-Regular.ttf);
}
.navbar-light{
	width: 100%;
	z-index: 999;
	background: transparent !important;
	border: 0;
	border-radius: 0;
	color: white;
	transition: 400ms ease;
}
.navbar-light .navbar-nav a {
	color: white !important;
	font-size: 19px;
	text-decoration: none;
}
.navbar-light .navbar-nav a:visited {
	color: navy;
}
.navbar-light .navbar-nav a:hover {
	color: navy !important;
}
.navbar-light .navbar-nav a:active {
	color: navy !important;
}

.navbar-light.scrolled{
	background: lightblue !important;
}


/*@media (max-width: 991.98px) {

    .navbar-light {
background: lightblue !important;
position: relative;
top: 0;
padding: 10px 15px; } }
  .navbar-light .navbar-brand {
    color: #000; }
    .navbar-light .navbar-brand span {
color: #d291bc;
font-size: 28px; }
    .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
color: #000; }*/


.logo_text{
	font-family: amatic;
	font-size: 2rem;
	color: black !important;
}

.logo_img{
	width: 3rem;
	height: 3rem;
}

/*Carousel*/
/*typewriter effect*/
.typewrite_title{
	position: absolute;
	top: 16rem;
	left: 9rem;
	color: white;
	font-family: abel;
	font-size: 80px;
}
.type_writer{
	position: absolute;
	top: 23rem;
	left: 9.2rem;
	color: white;
	font-family: abel;
	font-size: 38px;
}

/*why you should try yoga */
#welcome_title{
	font-family: abel;
	font-size: 60px;
	margin-top: 10px;
}
#welcome_text{
	font-family: abel;
	font-size: 20px;
	margin-top: 20px;
	color: gray;
}
#yoga_list{
	list-style-image: url(images/circle.png);
	font-size: 20px;
}
.yoga_logo{
	width: 3rem;
	height: 3rem;
}
.type_title{
	font-family: abel;
	font-size: 40px;
}
.yoga_img{
	width: 128px;
	height: 128px;

}
.class_title{
	font-family: abel;
	font-size: 60px;
}
#title_divide{
	max-width: 5rem;
	border-width: 2px;
	border-color: lightblue;
}
#choose{
	font-size: 20px;
	color: gray;
	text-align: center;
	margin-bottom: 3rem;
}
.box{
	padding: 0 !important;
	margin: 0 !important;
}

/*our class => text opacity*/
.pic{
	width: 330px;
	height: 270px;
	border-radius: 0 !important;
}

.text{
	background: lightblue;
	opacity: 0;
}
.pic:hover .text{
	width: 330px;
	height: 270px;
	opacity: 0.7;
	text-align: justify;
	color: darkblue;
	font-size: 26px;
	font-weight: 700;
	padding-top: 7rem;
	padding-left: 3rem;
}

/*why choose us*/
.choose_title{
	font-family: abel;
	font-size: 60px;
}
.review_div{
	width: 120px;
	float: left;
	margin-bottom: 60px;
	margin-top: 20px;
	margin-right: 150px;
}
.review_img{
	float: left;
}
.review_text{
	width: 220px;
}
.review{
	width: 260px;
	font-size: 50px;
}
.review1{
	width: 240px;	
	font-size: 16px;
	color: gray;
}


/*Meet our trainer*/
/*3d flipping effect on mouse hover*/
.card-wrapper {
  width: 270px;
  height: 340px;
  position: relative;
}

.card_des {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 340px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 2px;
  cursor: pointer;
  transition: 0.5s;
  
  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
  }
  
  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

.card_des:hover .card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Personal Details ****/
.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100px;
  z-index: 1;
  padding: 10px;
}
.name{
	font-family: lobster;
}
.job-title {
    font-size: 20px;
    font-family: lobster;

}

.jane {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 4;
  background: #fff;
  width: 100%;
  height: 100px;
  z-index: 3;
  padding: 10px;
  transition: .4s;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card_des:hover .profile-img--two {
  transform: rotateY(180deg);
}

.card_des:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}


/* Latest Photo*/
.subheading{
	font-size: 20px;
	color: gray;
	font-weight: 100;
}
.latest_text{
	font-size: 50px;
	font-family: abel;
}
.gallery{
  	transition: transform .5s; /* Animation */
	width: 260px !important;
	height: 260px !important;
	margin-bottom: 35px;
}
.gallery:hover{
    transform: scale(1.3);
    box-shadow: 0 0 5px;
    z-index: 2;
}


/*Navbar Dropdown*/
/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	

/*footer*/
.footer_wel_img{
	width: 3rem;
	height: 3rem;
}
#footer_wel_text{
	position: absolute;
	display: inline;
	left: 5rem;
	top: 5px;
	font-size: 25px;
	color: navy;
}
.clock{
	font-size: 15px;
	color: gray;
}
#send_btn{
	position: absolute;
	left: 360px;
	top: 180px;
	outline: none;
	height: 38px !important;
}
.footer_a{
	color: gray;
}
#footer_hr{
	color: navy;
}
.footer_social a{
	display: block;
	float: left;
	width: 42px;
	height: 42px;
	line-height: 44px;
	margin-left: 10px;
	border: 1px solid #7f7f7f;
	color: navy;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	border-radius: 100%;
	transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.footer_social a:hover{
	background-color: lightblue;
	color: white;
}


/* class.html */
/*Navbar and carousel div*/
#main_title{
	color: white;
	font-size: 4rem;
	margin-top: 11rem;
	font-family: abel;
	font-weight: 800;
}
#home{
	color: white;
	font-size: 20px;
}
#home:hover{
	color: navy;
}
#class{
	font-size: 20px;
	color: white;
}
#class:hover{
	color: navy;
}
#divider{
	color: white;
	font-size: 20px;
	margin: 0px 2px;
}
.playbtn{
	color: white;	
}
.playbtn:hover{
	color: blue;
}


/*search div*/
.searchbar_container{
   box-shadow: 0px 0px 15px rgba(12, 26, 39, 0.05);
   position: relative !important;
   margin-top: -30px !important;
   background-color: white;
}
.dropdown_btn{
	width: 7rem;
}
form.example button {
  width: 30%;
  padding: 6px;
  background: #0b7dda;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: 86px;
  border-radius: 6px;
  margin-left: -30px;
}

form.example button:hover {
  background: navy;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Classes info div*/
.card_container{
  background-color: white;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 70px rgba(12, 26, 39, 0.05);
  border: none !important;
}

.card_container::after{
  content: '';
  background: lightblue;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  clip-path: circle(10% at 0% 0%);
  transition: all .3s ease-in;
}
.card_content{
  position: relative;
  z-index: 1;
  transition: all .3s ease-in;
}
.card_container:hover::after{
  clip-path: circle(100%);
}

.card_container:hover .card_content{
  color: white;
}
.class_time{
	font-size: 15px;
}

.type{
	width: 80px;
	height: 40px;
	background-color: navy;
	color: white;
	position: relative;
	top: 8px;
}
.type_text{
	position: relative;
	top: 6px;
	left: 10px;
	font-size: 18px;
}


/* schedule.html */
/*schedule table*/
.td_hover{
  	transition: transform .5s; /* Animation */
}
.td_hover:hover{
    transform: scale(1.2);
    box-shadow: 0 0 4px;
}
.hr_size{
	max-width: 6rem;
	border-width: 2px;
	border-color: lightblue;
}

/* about.html */
/*about type writer*/
.about_typewriter_title{
	position: absolute;
	top: 17rem;
	left: 24rem;
	color: white;
	font-family: abel;
	font-size: 75px;
}
.about_typewriter{
	position: absolute;
	top: 17rem;
	left: 43rem;
	color: white;
	font-family: abel;
	font-size: 75px;
}
/*service*/
.service_img{
	border: 1px solid gray;
	border-radius: 100%;
}

/*trainer*/
.trainer_social{
	background-color: #00CED1;
	border-radius: 100%;
	border: 1px #00CED1 solid;
	color: white;
}
.trainer_social:hover{
	background-color: white;
	color: black;
}
.trainer_title{
	font-family: abel;
	font-size: 60px;
}

/* our class rating*/
.bg_img{
	background-image: url(images/background.gif);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.about_count{
	font-size: 50px;
	color: navy;
	margin-top: 30px;
}
.about_count1{
	font-size: 20px;
	color: navy;
	font-weight: 400;
}


/*contact.html*/
/*contact information*/
.contact_info{
	font-family: abel;
}
.contact_form .form-control{
	border: transparent !important;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
  	height: 58px !important;
 	padding-left: 0;
  	padding-right: 0;
  	background: transparent !important;
  	color: rgba(0, 0, 0, 0.9) !important;
  	font-size: 16px;
  	border-radius: 0px;
  	box-shadow: none !important;
}
.contact_form #subject{
	height: 90px !important;
}
.contact_form #textarea{
  	height: 190px !important;	
}

/* schedule.html, contact.html*/
#schedule_title{
	color: white;
	font-size: 5rem;
	margin-top: 13rem;
	font-family: abel;
	font-weight: 800;
}
.schedule_text{
	color: white;
	font-size: 22px;
}
.schedule_text:hover{
	color: navy;
}